@page "/refresh-ui-manually"
@using System.Threading;

<h1>@Count</h1>

<button @onclick=StartCountdown>Start Countdown</button>

@code {
    private int Count { get; set; } = 10;

    void StartCountdown()
    {
        var timer = new Timer(new TimerCallback(c =>
        {
            if (Count <= 0) return;
            Count--;
            this.StateHasChanged();
        }), null, 1000, 1000);
    }
}